name: PR Checks

on:
  pull_request

jobs:
  build:
    name: JDK ${{ matrix.java-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [17, 21, 23]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup FFmpeg
        uses: AnimMouse/setup-ffmpeg@v1

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper

      - name: Run ktlint
        run: ./format --no-format

      - name: Build with Gradle
        run: ./gradlew build koverHtmlReport --scan

      - name: Publish Test Results (JUnit)
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: test-results-jdk${{ matrix.java-version }}
          path: '**/build/test-results/test/TEST-*.xml'

      - name: Publish Kover Coverage Report
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: kover-report-jdk${{ matrix.java-version }}
          path: '**/build/reports/kover/html/*'
